<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctor Logint</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/index.css" />
  <style>
    .form-input {
      width: 380px; 
    }
    
      </style>
</head>
<body>
  <main>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="/">Appointment Booking App</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="./DoctorLogin">Doctor Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./CustomerLogin">Patient Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <section class="form-section">
      <div class="form-wrapper">
        <h1 class="title">Doctor Login</h1>
        <form class="form" id="login-form">
          
          <div class="form-group">
            <label>
              <span class="sr-only">Email address</span>
              <input type="email" placeholder="Email" class="form-input" required id="login-email">
            </label>
          </div>
          <div class="form-group">
            <label>
              <span class="sr-only">Password</span>
              <input type="password" placeholder="Password" class="form-input" required id="login-password">
            </label>
          </div>
          <div class="form-group">
            <input type="submit" value="Login" class="form-submit">
          </div>

          <footer class="form-footer">
             
              <div>
                Don't have an account?
                <a href="/" class="form-link">Register</a>
              </div>
          </footer>
        </form>
      </div>
    </section>
  </main>
  <script src="/js/doctorlogin.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>
</html>